*body{
    
}

.main-banner {
    height: 6%;
    background-image: url(/project/photos/image13.jpeg)
    linear-gradient(rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)),
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: calc(2rem + 2vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}